.villagerCard {
    display: flex;    
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(255, 255, 255);
    border-radius: 5rem;
    margin: 2rem 0;
    padding: 1rem;
}

.villagerCard h3 {
    margin: 0;
    align-self: flex-start;
    margin-top: -1.5rem;
}

.villagerCard img {
    align-self: center;
}

.villagerCard div {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 0 1rem;
}

.quote {
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    padding: 0 1rem 0 0;
    text-align: center;

}

@media (max-width: 768px) {
.villagerCard {
    flex-direction: column;
}

.villagerCard .quote {
    padding: 0;
}

.villagerCard p {
    padding: 0 1rem 1.5rem 1rem;
    }
}